---
import DefaultLayout from '/src/layouts/DefaultLayout.astro'

import OLGA_MARÍA_ALEGRE_DE_LA_ROSA from '/src/assets/img/OLGA_MARÍA_ALEGRE_DE_LA_ROSA.webp'
import helena_arroyo from '/src/assets/img/helena_arroyo.webp'
import jose_juan from '/src/assets/img/jose_juan.webp'
import susana_bena from '/src/assets/img/susana_bena.webp'
import chantal from '/src/assets/img/chantal.webp'
import silvia_andrea from '/src/assets/img/silvia_andrea.webp'
import alejandro_cano from '/src/assets/img/alejandro_cano.webp'
import almudena_cervera from '/src/assets/img/almudena_cervera.webp'
import isabel_chicharro from '/src/assets/img/isabel_chicharro.webp'
import maria_eulalia from '/src/assets/img/maria_eulalia.webp'
import juan_carlos from '/src/assets/img/juan_carlos.webp'
import jose_fierro from '/src/assets/img/jose_fierro.webp'
import laura_flix from '/src/assets/img/laura_flix.webp'
import mercedes_garcia from '/src/assets/img/mercedes_garcia.webp'
import luis_antonio from '/src/assets/img/luis_antonio.webp'
import raquel_gonzalez from '/src/assets/img/raquel_gonzalez.webp'
import rayco_h from '/src/assets/img/rayco_h.webp'
import eneko_larumbe from '/src/assets/img/eneko_larumbe.webp'
import marta_lesme from '/src/assets/img/marta_lesme.webp'
import elena_lopez from '/src/assets/img/elena_lopez.webp'
import maria_teresa from '/src/assets/img/maria_teresa.webp'
import stephanie_marie from '/src/assets/img/stephanie_marie.webp'
import txomin_navajas from '/src/assets/img/txomin_navajas.webp'
import irene_puerta from '/src/assets/img/irene_puerta.webp'
import angel_manuel from '/src/assets/img/angel_manuel.webp'
import pedro_javier from '/src/assets/img/pedro_javier.webp' 
import maria_del_carmen from '/src/assets/img/maria_del_carmen.webp'
import marina_salorio from '/src/assets/img/marina_salorio.webp'
import inmaculada_sanchez from '/src/assets/img/inmaculada_sanchez.webp'
import beatriz_sackett from '/src/assets/img/beatriz_sackett.webp'
import margarita_torres from '/src/assets/img/margarita_torres.webp'
import roberto_suarez from '/src/assets/img/roberto_suarez.webp'
import alexandra_tisaire from '/src/assets/img/alexandra_tisaire.webp'
import alba_ayuso from '/src/assets/img/alba_ayuso.webp'
import rosa_belen from '/src/assets/img/rosa_belen.webp'
import maria_cambre from '/src/assets/img/maria_cambre.webp'
import juan_manuel from '/src/assets/img/juan_manuel.webp'
import susana_valverde from '/src/assets/img/susana_valverde.webp'
import bea_rosa from '/src/assets/img/bea_rosa.webp'
import ivan_vazquez from '/src/assets/img/ivan_vazquez.webp'
import franz_zenker from '/src/assets/img/franz_zenker.webp' 
import Caridad from '/src/assets/img/Caridad.jpg'  
import oscar from '/src/assets/img/oscar.webp'
import javier_rod from '/src/assets/img/javier_rod.webp'
import dani from '/src/assets/img/dani.jpg'
import solis from '/src/assets/img/solis.png'
import teresa from '/src/assets/img/teresa.jpg'
---

<DefaultLayout title="Comités">
  <section class="my-24 mt-36">
    <div class="container">
      <h1 class="text-6xl text-center mb-16">Comité Científico</h1>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">

        <div class="member-card">
          <img src={OLGA_MARÍA_ALEGRE_DE_LA_ROSA.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Olga María Alegre de la Rosa</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={helena_arroyo.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Helena Arroyo Moratilla</h2>
          <p class="text-lg mt-2">Universidad Complutense de Madrid (UCM).</p>
        </div>
        <div class="member-card">
          <img src={alba_ayuso.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Alba Ayuso Lanchares</h2>
          <p class="text-lg mt-2">Universidad de Valladolid (UVa) y Universidad Oberta de Catalunya (UOC).</p>
        </div>
        <div class="member-card">
          <img src={jose_juan.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. José Juan Barajas de Prat</h2>
          <p class="text-lg mt-2">Presidente de la Fundación Canaria Doctor Barajas para la Prevención e Investigación de la Sordera.</p>
        </div>
        <div class="member-card">
          <img src={juan_manuel.src} class="member-image" />
          <h2 class="text-2xl mt-4">D. Juan Manuel Batista Velázquez</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={susana_bena.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Susana Bena Villaseño</h2>
          <p class="text-lg mt-2">Universidad Rey Juan Carlos (URJC).</p>
        </div>
        <div class="member-card">
          <img src={chantal.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Chantal Biencinto López</h2>
          <p class="text-lg mt-2">Universidad Complutense de Madrid (UCM).</p>
        </div>
        <div class="member-card">
          <img src={silvia_andrea.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Silvia Andrea Borkoski Barreiro</h2>
          <p class="text-lg mt-2">Unidad de Hipoacusia del Hospital Universitario Insular Materno Infantil (CHUIMI), Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={maria_cambre.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. María Cambre Barceló</h2>
          <p class="text-lg mt-2">Unidad Técnica de Sordoceguera ONCE.</p>
        </div>
        <div class="member-card">
          <img src={alejandro_cano.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Alejandro Cano Villagrasa</h2>
          <p class="text-lg mt-2">Universidad Internacional de Valencia (VIU).</p>
        </div>
        <div class="member-card">
          <img src={almudena_cervera.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Almudena Cervera Cruañes</h2>
          <p class="text-lg mt-2">Universidad Internacional de la Rioja (UNIR).</p>
        </div>
        <div class="member-card">
          <img src={isabel_chicharro.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Isabel Chicharro Soria</h2>
          <p class="text-lg mt-2">Unidad de Hipoacusia del Hospital Universitario Insular Materno Infantil (CHUIMI), Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={dani.src} class="member-image" />
          <h2 class="text-2xl mt-4">D. Daniel Durán</h2>
          <p class="text-lg mt-2">Graduado en Ingeniería Electrónica, Industrial y Automática. Codirector  de eScuelAAC (plataforma de formación online</p>
        </div>
        <div class="member-card">
          <img src={maria_eulalia.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. María Eulalia Díaz García</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={juan_carlos.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Juan Carlos Falcón González</h2>
          <p class="text-lg mt-2">Unidad de Hipoacusia del Hospital Universitario Insular Materno Infantil (CHUIMI), Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={jose_fierro.src} class="member-image" />
          <h2 class="text-2xl mt-4">D. José Fierro Marrero</h2>
          <p class="text-lg mt-2">Centro Superior de Estudios Universitarios La Salle-Universidad Autónoma de Madrid (UAM).</p>
        </div>
        <div class="member-card">
          <img src={laura_flix.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Laura Flix Díez</h2>
          <p class="text-lg mt-2">Clínica Universidad de Navarra (Madrid)</p>
        </div>
        <div class="member-card">
          <img src={mercedes_garcia.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Mercedes García García</h2>
          <p class="text-lg mt-2">Universidad Complutense de Madrid (UCM).</p>
        </div>
        <div class="member-card">
          <img src={luis_antonio.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Luis Antonio García González</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={oscar.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Óscar Gómez Jiménez</h2>
          <p class="text-lg mt-2">Universidad Internacional de Valencia (VIU).</p>
        </div>
        <div class="member-card">
          <img src={raquel_gonzalez.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Raquel González Hernández</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={rayco_h.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Rayco H. González Montesino</h2>
          <p class="text-lg mt-2">Universidad Rey Juan Carlos (URJC).</p>
        </div>
        <div class="member-card">
          <img src={eneko_larumbe.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Eneko Larumbe Zabala</h2>
          <p class="text-lg mt-2">Fundación Canaria Instituto de Investigación Sanitaria de Canarias.</p>
        </div>
        <div class="member-card">
          <img src={marta_lesme.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Marta Lesme Fernández</h2>
          <p class="text-lg mt-2">Universidad de Las Palmas de Gran Canaria (ULPGC).</p>
        </div>
        <div class="member-card">
          <img src={elena_lopez.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Elena López Burgos</h2>
          <p class="text-lg mt-2">Universidad Rey Juan Carlos (URJC).</p>
        </div>
        <div class="member-card">
          <img src={teresa.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. María Teresa Martín-Aragoneses</h2>
          <p class="text-lg mt-2">Universidad Nacional de Educación a Distancia (UNED).</p>
        </div>
        <div class="member-card">
          <img src={stephanie_marie.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Stephanie Marie Michele Papin</h2>
          <p class="text-lg mt-2">Universidad Rey Juan Carlos (URJC).</p>
        </div>
        <div class="member-card">
          <img src={txomin_navajas.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Txomin Navajas Carasa</h2>
          <p class="text-lg mt-2">Hospital Universitario Hospiten Rambla.</p>
        </div>
        <div class="member-card">
          <img src={solis.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Sol Solís</h2>
          <p class="text-lg mt-2">Directora, maestra de la Fábrica de Palabras. Centro especializado en la enseñanza y alfabetización y el lenguaje en personas con necesidades complejas de la comunicación. Directora de eScuelAAC </p>
        </div>
        <div class="member-card">
          <img src={irene_puerta.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Irene Puerta Araña</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={angel_manuel.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Ángel Manuel Ramos Macías</h2>
          <p class="text-lg mt-2">Unidad de Hipoacusia del Hospital Universitario Insular Materno Infantil (CHUIMI), Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={javier_rod.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Javier Rodríguez Torres</h2>
          <p class="text-lg mt-2">Universidad de Castilla-La Mancha.</p>
        </div>
        <div class="member-card">
          <img src={pedro_javier.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Pedro Javier Rodríguez Hernández</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={maria_del_carmen.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. María del Carmen Rodríguez Jiménez</h2>
          <p class="text-lg mt-2">Universidad de La Laguna (ULL).</p>
        </div>
        <div class="member-card">
          <img src={beatriz_sackett.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Beatriz Sackett</h2>
          <p class="text-lg mt-2">Certificada en Terapia Auditivo-VerbalTM. Los Ángeles (California)</p>
        </div>
        <div class="member-card">
          <img src={marina_salorio.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Marina Salorio-Corbetto</h2>
          <p class="text-lg mt-2">Universidad de Cambridge.</p>
        </div>
        <div class="member-card">
          <img src={inmaculada_sanchez.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Inmaculada Sánchez Casado</h2>
          <p class="text-lg mt-2">Universidad de Extremadura (UEx).</p>
        </div>
        <div class="member-card">
          <img src={rosa_belen.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Rosa Belén Santiago Pardo</h2>
          <p class="text-lg mt-2">Universidad de Valladolid (UVa).</p>
        </div>
        <div class="member-card">
          <img src={Caridad.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Caridad Suárez Martín</h2>
          <p class="text-lg mt-2">Universidad de Las Palmas de Gran Canaria (ULPGC).</p>
        </div>
        <div class="member-card">
          <img src={margarita_torres.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Margarita Torres García de Celis</h2>
          <p class="text-lg mt-2">Unidad de Hipoacusia del Hospital Universitario Insular Materno Infantil (CHUIMI), Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={alexandra_tisaire.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Alexandra Tisaire de Dios</h2>
          <p class="text-lg mt-2">Universidad Complutense de Madrid (UCM).</p>
        </div>
        <div class="member-card">
          <img src={susana_valverde.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Susana Valverde Montesino</h2>
          <p class="text-lg mt-2">Universidad Complutense de Madrid (UCM).</p>
        </div>
        <div class="member-card">
          <img src={bea_rosa.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Beatriz Rosa Valles González</h2>
          <p class="text-lg mt-2">Universidad Internacional de Valencia (VIU).</p>
        </div>
        <div class="member-card">
          <img src={ivan_vazquez.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Iván Vázquez Villar</h2>
          <p class="text-lg mt-2">Universidad Rey Juan Carlos (URJC).</p>
        </div>
        <div class="member-card">
          <img src={franz_zenker.src} class="member-image" />
          <h2 class="text-2xl mt-4">D. Franz Zenker Castro</h2>
          <p class="text-lg mt-2">Secretario de la Fundación Canaria Doctor Barajas para la Prevención e Investigación de la Sordera.</p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .member-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }

  .member-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto; 
  }

  .member-card h2 {
    color: #7604b7;
  }

  .member-card p {
    color: #333;
  }

  .member-card:hover {
    background-color: #6a11cb;
    color: white;
  }

  .member-card:hover h2,
  .member-card:hover p {
    color: white;
  }
</style>