---
import DefaultLayout from '/src/layouts/DefaultLayout.astro'

import helena_arroyo from '/src/assets/img/helena_arroyo.webp'
import jose_juan from '/src/assets/img/jose_juan.webp'
import susana_bena from '/src/assets/img/susana_bena.webp'
import juan_carlos from '/src/assets/img/juan_carlos.webp'
import jose_fierro from '/src/assets/img/jose_fierro.webp'
import laura_flix from '/src/assets/img/laura_flix.webp'
import rayco_h from '/src/assets/img/rayco_h.webp'
import angel_manuel from '/src/assets/img/angel_manuel.webp'
import marina_salorio from '/src/assets/img/marina_salorio.webp'
import alexandra_tisaire from '/src/assets/img/alexandra_tisaire.webp'
import maria_cambre from '/src/assets/img/maria_cambre.webp'
import ivan_vazquez from '/src/assets/img/ivan_vazquez.webp'
import franz_zenker from '/src/assets/img/franz_zenker.webp'
import BETTY_SACKETT from '/src/assets/img/BETTY_SACKETT.jpeg'
import hellen from '/src/assets/img/hellen.jpg'
import carla from '/src/assets/img/carla.jpg'
import maria from '/src/assets/img/maria.jpg'
import jose from '/src/assets/img/jose.jpg'
import jane from '/src/assets/img/jane.jpg'
import nicola from '/src/assets/img/nicola.png'
import romina from '/src/assets/img/romina.jpg'
import mariana from '/src/assets/img/mariana.jpg'
import teresita from '/src/assets/img/teresita.jpg'
import naira from '/src/assets/img/naira.jpg'
import alejandro from '/src/assets/img/alejandro.jpg'
import stephanie_marie from '/src/assets/img/stephanie_marie.webp'
import natalia from '/src/assets/img/natalia.jpg'
---

<DefaultLayout title="Comités">
  <section class="my-24 mt-36">
    <div class="container">
      <h1 class="text-6xl text-center mb-16 mt-19">Ponentes</h1>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">

        <div class="member-card">
          <img src={angel_manuel.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Ángel M. Ramos Macías</h2>
          <p class="text-lg mt-2">Director del Programa de Implantes Cocleares de la Unidad de Hipoacusia del Hospital Universitario Insular Materno Infantil de Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={juan_carlos.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Juan Carlos Falcón González</h2>
          <p class="text-lg mt-2">Jefe del Área de Audiología, Programa de Implantes Cocleares de la Unidad de Hipoacusia del Servicio de Otorrinolaringología del Hospital Universitario Insular Materno Infantil de Las Palmas de Gran Canaria.</p>
        </div>
        <div class="member-card">
          <img src={jose_juan.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. José Juan Barajas de Prat</h2>
          <p class="text-lg mt-2">Presidente de la International Societies of Audiology y de la Association of Physicians in Audiology; y de la Fundación Canaria Doctor Barajas para la Prevención e Investigación de la Sordera.</p>
        </div>
        <div class="member-card">
          <img src={franz_zenker.src} class="member-image" />
          <h2 class="text-2xl mt-4">D. Franz Zenker Castro</h2>
          <p class="text-lg mt-2">Secretario de la Fundación Canaria Doctor Barajas para la Prevención e Investigación de la Sordera.</p>
        </div>
        <div class="member-card">
          <img src={laura_flix.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Laura Flix Díez</h2>
          <p class="text-lg mt-2">Fisioterapeuta especializada en rehabilitación vestibular de la Clínica Universidad de Navarra.</p>
        </div>
        <div class="member-card">
          <img src={ivan_vazquez.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Iván Vázquez Villar</h2>
          <p class="text-lg mt-2">Profesor Ayudante Doctor en la Facultad de Ciencias de la Educación y del Deporte y Estudios Interdisciplinares (UCM).</p>
        </div>
        <div class="member-card">
          <img src={carla.src} class="member-image" />
          <h2 class="text-2xl mt-4">Carla Méndez Trillo</h2>
          <p class="text-lg mt-2">Graduada en Filología Hispánica (UCM) y máster de Lingüística Aplicada en la Universidad de Vigo.</p>
        </div>
        <div class="member-card">
          <img src={maria.src} class="member-image" />
          <h2 class="text-2xl mt-4">María C. Bao Fente</h2>
          <p class="text-lg mt-2">Profesora ayudante doctora en la Universidade da Coruña.</p>
        </div>
        <div class="member-card">
          <img src={rayco_h.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dr. Rayco H. González Montesino</h2>
          <p class="text-lg mt-2">Profesor Contratado Doctor en el Departamento Ciencias de la Educación, Lenguaje, Cultura y Artes, Ciencias Historia-Jurídicas y Humanísticas y Lenguas modernas de la URJC.</p>
        </div>
        <div class="member-card">
          <img src={susana_bena.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Susana Bena Villaseñor</h2>
          <p class="text-lg mt-2">Doctora del Departamento de Ciencias de la Educación, Lenguaje, Cultura y Artes, Ciencias Histórico-Jurídicas y Humanísticas y Lenguas Modernas, Área: Métodos de Investigación y Diagnóstico en Educación en el Grado en Lengua de Signos Española y Comunidad Sorda de la URJC.</p>
        </div>
        <div class="member-card">
          <img src={stephanie_marie.src} class="member-image" />
          <h2 class="text-2xl mt-4">Stéphanie Marie Michèle Papin</h2>
          <p class="text-lg mt-2">Profesor Ayudante Doctor en la Facultad de Ciencias de la Educación y del Deporte y Estudios Interdisciplinares. Departamento Ciencias de la Educación, Lenguaje, Cultura y Artes, Ciencias Historia-Jurídicas y Humanísticas y Lenguas Modernas. Área: Métodos de Investigación y Diagnóstico en Educación. Docente en el Grado en Lengua de Signos Española y Comunidad Sorda de la URJC.</p>
        </div>
        <div class="member-card">
          <img src={jose.src} class="member-image" />
          <h2 class="text-2xl mt-4">José Mª Millán Salvador</h2>
          <p class="text-lg mt-2">Miembro del comité científico de Orphanet-España, representante español en el Scientific Advisory Board of Genetics de Orphanet International y miembro del Comité Científico de la Federación Española de Enfermedades raras (FEDER).</p>
        </div>
        <div class="member-card">
          <img src={helena_arroyo.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Helena Arroyo Moratilla</h2>
          <p class="text-lg mt-2">Logopeda en el Servicio de ORL del Hospital La Paz de Madrid. Profesora asociada de Logopedia en la UCM.</p>
        </div>
        <div class="member-card">
          <img src={maria_cambre.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. María Cambre Barceló</h2>
          <p class="text-lg mt-2">Especialista en Sordoceguera de la ONCE en Canarias.</p>
        </div>
        <div class="member-card">
          <img src={jane.src} class="member-image" />
          <h2 class="text-2xl mt-4">Jane Catherine Mackay Gallacher</h2>
          <p class="text-lg mt-2">Jefa de servicio del Programa Escocés de Implantes Cocleares, responsable de todos los aspectos clínicos y de gestión de este servicio nacional de Scotland.</p>
        </div>
        <div class="member-card">
          <img src={nicola.src} class="member-image" />
          <h2 class="text-2xl mt-4">Nicola June Clarke</h2>
          <p class="text-lg mt-2">Terapeuta del habla y lenguaje en el equipo de rehabilitación de adultos Emmeline, Cambridge University Hospitals.</p>
        </div>
        <div class="member-card">
          <img src={hellen.src} class="member-image" />
          <h2 class="text-2xl mt-4">Helen Cullington</h2>
          <p class="text-lg mt-2">Profesora de la Universidad de Southampton.</p>
        </div>
        <div class="member-card">
          <img src={romina.src} class="member-image" />
          <h2 class="text-2xl mt-4">Romina Piccione</h2>
          <p class="text-lg mt-2">Directora de Rehabilitación MED-EL LATAM y Cert. LSLS AVT.</p>
        </div>
        <div class="member-card">
          <img src={mariana.src} class="member-image" />
          <h2 class="text-2xl mt-4">Mariana Maggio De Maggi</h2>
          <p class="text-lg mt-2">Responsable del programa infantil de Phonak y Cert. LSLS AVT.</p>
        </div>
        <div class="member-card">
          <img src={natalia.src} class="member-image" />
          <h2 class="text-2xl mt-4">Natalia Beraza Tamayo</h2>
          <p class="text-lg mt-2">Técnica del Área de Relación Institucional de FIAPAS.</p>
        </div>
        <div class="member-card">
          <img src={alexandra_tisaire.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dña. Alexandra Tisaire de Dios</h2>
          <p class="text-lg mt-2">Logopeda en el Hospital Universitario de la Princesa y Profesora Asociada en el Departamento de Inmunología, Oftalmología y Otorrinolaringología de la Facultad de Medicina de la UCM.</p>
        </div>
        <div class="member-card">
          <img src={marina_salorio.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Marina Salorio-Corbetto</h2>
          <p class="text-lg mt-2">Investigadora Postdoctoral en la Universidad de Cambridge.</p>
        </div>
        <div class="member-card">
          <img src={teresita.src} class="member-image" />
          <h2 class="text-2xl mt-4">Teresita Herrera Marín</h2>
          <p class="text-lg mt-2">Profesora de audición y lenguaje en el colegio Milton Keynes, Reino Unido.</p>
        </div>
        <div class="member-card">
          <img src={naira.src} class="member-image" />
          <h2 class="text-2xl mt-4">Naira Delgado Márquez</h2>
          <p class="text-lg mt-2">Directora del Centro Aurea TAV (Madrid) y Cert. LSLS AVT.</p>
        </div>
        <div class="member-card">
          <img src={BETTY_SACKETT.src} class="member-image" />
          <h2 class="text-2xl mt-4">Betty Sackett</h2>
          <p class="text-lg mt-2">LSLS Cert. AVT.</p>
        </div>
        <div class="member-card">
          <img src={jose_fierro.src} class="member-image" />
          <h2 class="text-2xl mt-4">D. José Fierro Marrero</h2>
          <p class="text-lg mt-2">Secretario y Vocal de la Comisión de I+D+I del Ilustre Colegio Profesional de Fisioterapeutas de la Comunidad de Madrid. Miembro del Grupo de Fisioterapia de la Sociedad Española de Geriatría y Gerontología.</p>
        </div>
        <div class="member-card">
          <img src={laura_flix.src} class="member-image" />
          <h2 class="text-2xl mt-4">Dra. Laura Flix Díez</h2>
          <p class="text-lg mt-2">Fisioterapeuta especializada en rehabilitación vestibular de la Clínica Universidad de Navarra.</p>
        </div>
        <div class="member-card">
          <img src={alejandro.src} class="member-image" />
          <h2 class="text-2xl mt-4">Alejandro Heneyands Martí</h2>
          <p class="text-lg mt-2">Técnico del Departamento de Electroestimulación de MED-EL.</p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
<style lang="scss">
  .member-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }

  .member-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto; 
  }

  .member-card h2 {
    color: #7604b7;
  }

  .member-card p {
    color: #333;
  }

  .member-card:hover {
    background-color: #6a11cb;
    color: white;
  }

  .member-card:hover h2,
  .member-card:hover p {
    color: white;
  }
</style>